$white: #fff;
$black: #333;
$purple: #9900FF;
$green: #00FF00;

* {
    box-sizing: border-box;
    color: $black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/** SCSS Mixins */
@mixin flexbox($align, $display, $justify, $direct) {
    align-items: $align;
    display: $display;
    justify-content: $justify;
    flex-direction: $direct;
}

@mixin background($url, $position) {
    background: $url;
    background-position: $position;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
        -ms-border-radius: $radius;
            border-radius: $radius;
}

h1 {
    background: $purple;
    color: $white;
    padding: 0.5rem 0;
    text-align: center;
}

header {
    height: 100px;
    @include flexbox(center, flex, center, column);
    .logo {
        height: 80px;
    }
}

nav {
    background: $green;
    height: 100px;
    @include flexbox(center, flex, center, row);
    .link {
        background: red;
        border: 2px solid $white;
        border-radius: 50%;
        display: block;
        margin: 0 2rem 1.25rem 2rem;
        text-decoration: none;
        width: 60px;
        height: 60px;
        @include background(url('../assets/archive.png'), center);
    }
    .link::after {
        color: $white;
        display: block;
        content: 'hello';
        position: relative;
        top: 63px;
        text-align: center;
    }
    .about {
        background-image: url('../assets/emptyPerson.png')
    }
    .about::after {
        content: 'About';
    }
    .video {
        background-image: url('../assets/video.png')
    }
    .video::after {
        content: 'Youtube';
    }
    .archive::after {
        content: 'Blog';
    }
    #openMenu {
        cursor: pointer;
        display: none;
        height: 25px;
        width: 30px;
        .bar {
            background: $white;
            height: 5px;
        }
        .bar:nth-child(2) {
            margin: 5px 0;
        }
    }
}

#mobile-overlay {
    background: $black;
    height: 100vh;
    left: 0;
    overflow: hidden;
    position: fixed;
    transition: 0.5s all ease;
    top: 0;
    width: 0;
    z-index: 5;
    nav {
        background: $black;
        display: block;
        height: auto;
        a {
            display: block;
            height: 100px;
            font-size: 2.5rem;
            text-decoration: none;
            padding: 0 1rem;
            @include flexbox(center, flex, flex-start, row);
            img {
                border: 2px solid $white;
                border-radius: 50%;
                margin-right: 1rem;
                width: 50px;
                height: 50px;
            }
            span {
                color: $white;
            }
        }
        a:hover {
            background: $green;
        }
    }
}

#closeMenu {
    color: $white!important;
    font-size: 3rem;
    position: absolute;
    top: 1rem;
    right: 2rem;

}

footer {
    background: $purple;
    color: $white;
    height: 50px;
    @include flexbox(center, flex, center, row);
    p {
        color: $white;
    }
}

.container {
    margin: auto;
    width: 50%;
}

.post {
    margin: 1rem 0;
    h1 {
        border-radius: 10px;
        padding: 1rem 0;
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }
    .img {
        border-radius: 10px;
        height: 400px;
        @include background(url('../assets/post_images/contact.jpeg'), center);
        background-attachment: fixed;
        .post-info {
            background: $purple;
            color: $white;
            border-radius: 10px 0 10px 0;
            font-weight: bold;
            height: 80px;
            padding: 0.5rem;
            width: 150px;
            @include flexbox(center, flex, space-between, row);
            .author {
                border-radius: 50%;
                display: block;
                height: 50px;
                width: 50px;
                @include background(url('../assets/member_icons/reece-sm.png'), center);
            }
        }
    }
    .content {
        margin-top: 1rem;
        p {
            margin-bottom: 0.5rem;
            a {
                color: $purple;
                text-decoration: none;
            }
        }
    }
}

@media(max-width: 768px) {
    h1 {
        font-size: 1.5rem;
    }
    .container {
        width: 100%;
    }
    .post {
        h1 {
            border-radius: 0;
            font-size: 2rem;
        }
        .img {
            border-radius: 0;
            .post-info {
                border-radius: 0 0 10px 0;
            }
        }
        .content {
            padding: 0 1rem;
        }
    }
}

@media(max-width: 500px) {
    .main-nav {
        height: 50px;
        padding-left: 1rem;
        justify-content: flex-start;
        #openMenu {
            display: block;
        }
        .link {
            display: none;
        }
    }
}

